@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.logo {
	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
}
/* //for mobiles */
@media only screen and (min-width:360px) and ( max-width:900px) {
    *{
        padding: 0;
        margin: 0;
    }
    :root{
        --primarycolor:blue;
        --secondrycolor:red;
    }
     body{
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         box-sizing: border-box;
     }
     .main-head{
         z-index: 1;
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        background-color: rgb(0, 0, 0);
        padding-top: 5px;
        padding-bottom: 5px;
        background-size: cover;
        width: 100%;
        position: fixed;
     }
     .main-head li{
        margin-left: 25px;
        margin-right: 25px;
        list-style-type: none;
         font-size: 10px;
    }
    .main-head li a{
        text-decoration: none;
        list-style-type: none;
         color: white;
    }
    .main-head li a:hover{
        color:cornflowerblue;
        animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: 0.4s;
    }
    .img-1{
        width: 100%;
        opacity: 0.35;
        margin-top:50px;
    }
    .sec-1 h1{
        z-index: 1;
        align-items: center;
        margin-left: 0;
        color: rgb(0, 0, 0);
        margin-top: -50%;
        margin-left: 10%;
        font-size: 18px;
        font-weight: bolder;
        margin-right: 10%;
    }
    .sec-1 h2{
        font-size: 16px;
        z-index: 1;
        align-items: center;
     margin-left: 33%;
     font-weight: bold;
    }
    .img-2{
        width: 50%;
        padding-top: 39%;
    }
    .sec-3 h2{
        font-size: 18px;
        margin-top: -28%;
        margin-left:56%;
        font-weight: 760;
    }
    .sec-3 p{
        font-size: 13px;
        font-style: italic;
        margin-top:9px ;
        margin-left: 55%;
    }
    .sec-4{
        margin-top: 1%;
        margin-left: 5%;
       
    }
    .sec-4 h2{
        font-size: 15px;
        border-radius:5px;
        font-weight: 600;
        font-style: italic;
        text-decoration: underline;
    }
    .img-3{
        width: 50%;
        margin-left: -1.5%;
        margin-top: 3%;
    }
    .img-4{
        width: 50%;
        float: right;
        width: 46%;
        margin-top: 3%;
    
    }
    .img-5{
        width: 50%;
        margin-left: -1.8%;
        padding-top:3px;
    }
    .img-6{
       width: 46%;
       margin-left: 54%;
       margin-top: 10%;
    }
    .sec-4 p{
        font-size: 12px;
    margin-left: 54%;
    margin-top: -90%;
    font-style: italic;
    }
    .sec-5 h1{
        margin-top: 37%;
        margin-left: 5%;
        font-size: 20px;
        font-weight: 600;
        }
        .sec-5 p{
            margin-left: 5%;
            margin-right: 5%;
            padding-top: 9px;
            font-style: italic;
        }
        .img-7{
            margin-top: 5%;
            width: 70%;
            margin-left: 15%;
        }
        .sec-5 h2{
            margin-top: 11px;
            margin-left: 5%;
            font-size: 20px;
        }
        .img-8{
            width: 70%;
            margin-left: 15%;
        }
        .img-9{
            width: 70%;
            margin-left: 15%;
        }
        .final-sec h2{
            margin-top: 45px;
            margin-left: 3%;
        }
        .final-sec a{
           display: inline;
           justify-content: space-between;
           margin-left: 15%;
           margin-top: 45px;
           color: gray;
        }
        .final-sec a:hover{
            color: black;
            animation:ease-in;
        }
        .final-sec p{
            font-style: italic;
            font-weight: 550;
            padding-top: 5%;
            color: brown;
            }   
        
    
    }
    /* //for tablets  */
    @media only screen and (min-width:767px) and (max-width:1024px){
        *{
            padding: 0;
            margin: 0;
        }
        :root{
            --primarycolor:blue;
            --secondrycolor:red;
        }
         body{
             font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
             box-sizing: border-box;
         }
         .main-head{
             z-index: 1;
            display: flex;
            justify-content: space-between;
            border: 1px solid black;
            background-color: rgb(0, 0, 0);
            padding-top: 5px;
            padding-bottom: 5px;
            background-size: cover;
            width: 100%;
            position: fixed;
         }
         .main-head li{
            margin-left: 25px;
            margin-right: 25px;
            list-style-type: none;
             font-size: 10px;
        }
        .main-head li a{
            text-decoration: none;
            list-style-type: none;
             color: white;
        }
        .main-head li a:hover{
            color:cornflowerblue;
            animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: 0.4s;
        }
        .img-1{
            width: 100%;
            opacity: 0.35;
        
        }
        .sec-1 h1{
            z-index: 1;
            align-items: center;
            margin-left: 0;
            color: rgb(0, 0, 0);
            margin-top: -50%;
            margin-left: 17%;
            font-size: 30px;
            font-weight: bolder;
            margin-right: 10%;
        }
        .sec-1 h2{
            font-size: 20px;
            z-index: 1;
            align-items: center;
         margin-left: 40%;
         font-weight: bold;
        }
        .img-2{
            width: 50%;
            padding-top: 44%;
        }
        .sec-3 h2{
            font-size: 18px;
            margin-top: -28%;
            margin-left:56%;
            font-weight: 760;
        }
        .sec-3 p{
            font-size: 13px;
            font-style: italic;
            margin-top:9px ;
            margin-left: 55%;
        }
        .sec-4{
            margin-top: 19%;
            margin-left: 5%;
           
        }
        .sec-4 h2{
            font-size: 15px;
            border-radius:5px;
            font-weight: 600;
            font-style: italic;
            text-decoration: underline;
        }
        .img-3{
            width: 50%;
            margin-left: -1.5%;
            margin-top: 3%;
        }
        .img-4{
            width: 50%;
            float: right;
            width: 46%;
            margin-top: 3%;
        
        }
        .img-5{
            width: 50%;
            margin-left: -1.8%;
            padding-top:3px;
        }
        .img-6{
           width: 46%;
           margin-left: 54%;
           margin-top: -20%;
        }
        .sec-4 p{
            font-size: 12px;
        margin-left: 54%;
        margin-top: -90%;
        font-style: italic;
        }
        .sec-5 h1{
            margin-top: 41%;
            margin-left: 5%;
            font-size: 20px;
            font-weight: 600;
            }
            .sec-5 p{
                margin-left: 5%;
                margin-right: 5%;
                padding-top: 9px;
                font-style: italic;
            }
            .img-7{
                margin-top: 5%;
                width: 70%;
                margin-left: 15%;
            }
            .sec-5 h2{
                margin-top: 11px;
                margin-left: 5%;
                font-size: 20px;
            }
            .img-8{
                width: 70%;
                margin-left: 15%;
            }
            .img-9{
                width: 70%;
                margin-left: 15%;
            }
            .final-sec h2{
                margin-top: 45px;
                margin-left: 3%;
            }
            .final-sec a{
               display: inline;
               justify-content: space-between;
               margin-left: 15%;
               margin-top: 45px;
               color: gray;
            }
            .final-sec a:hover{
                color: black;
                animation:ease-in;
            }
            .final-sec p{
                
                font-style: italic;
                font-weight: 550;
                padding-top: 5%;
                color: brown;
                }   
            
    }
    /* //for desktop */
    @media only screen and (min-width:800px) and ( max-width:1329px) {
        *{
            padding: 0;
            margin: 0;
        }
        :root{
            --primarycolor:blue;
            --secondrycolor:red;
        }
         body{
             font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
             box-sizing: border-box;
         }
         .main-head{
             z-index: 1;
            display: flex;
            justify-content: space-between;
            border: 1px solid black;
            background-color: rgb(0, 0, 0);
            padding-top: 5px;
            padding-bottom: 5px;
            background-size: cover;
            width: 100%;
            position: fixed;
         }
         .main-head li{
            margin-left: 25px;
            margin-right: 25px;
            list-style-type: none;
             font-size: 10px;
        }
        .main-head li a{
            text-decoration: none;
            list-style-type: none;
             color: white;
        }
        .main-head li a:hover{
            color:cornflowerblue;
            animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: 0.4s;
        }
        .img-1{
            width: 100%;
            opacity: 0.35;
        
        }
        .sec-1 h1{
            z-index: 1;
            align-items: center;
            margin-left: 0;
            color: rgb(0, 0, 0);
            margin-top: -50%;
            margin-left: 24%;
            font-size: 40px;
            font-weight: bolder;
            margin-right: 10%;
        }
        .sec-1 h2{
            font-size: 25px;
            z-index: 1;
            align-items: center;
         margin-left: 40%;
         font-weight: bold;
        }
        .img-2{
            width: 50%;
            padding-top: 44%;
        }
        .sec-3 h2{
            font-size: 18px;
            margin-top: -28%;
            margin-left:56%;
            font-weight: 760;
        }
        .sec-3 p{
            font-size: 13px;
            font-style: italic;
            margin-top:9px ;
            margin-left: 55%;
        }
        .sec-4{
            margin-top: 22%;
            margin-left: 5%;
           
        }
        .sec-4 h2{
            font-size: 15px;
            border-radius:5px;
            font-weight: 600;
            font-style: italic;
            text-decoration: underline;
        }
        .img-3{
            width: 50%;
            margin-left: -1.5%;
            margin-top: 3%;
        }
        .img-4{
            width: 50%;
            float: right;
            width: 46%;
            margin-top: 3%;
        
        }
        .img-5{
            width: 50%;
            margin-left: -1.8%;
            padding-top:3px;
        }
        .img-6{
           width: 46%;
           margin-left: 54%;
           margin-top: -20%;
        }
        .sec-4 p{
            font-size: 12px;
        margin-left: 54%;
        margin-top: -39%;
        font-style: italic;
        }
        .sec-5 h1{
            margin-top: 41%;
            margin-left: 5%;
            font-size: 20px;
            font-weight: 600;
            }
            .sec-5 p{
                margin-left: 5%;
                margin-right: 5%;
                padding-top: 9px;
                font-style: italic;
            }
            .img-7{
                margin-top: 5%;
                width: 70%;
                margin-left: 15%;
            }
            .sec-5 h2{
                margin-top: 11px;
                margin-left: 5%;
                font-size: 20px;
            }
            .img-8{
                width: 70%;
                margin-left: 15%;
            }
            .img-9{
                width: 70%;
                margin-left: 15%;
            }
            .final-sec h2{
                margin-top: 45px;
                margin-left: 3%;
            }
            .final-sec a{
               display: inline;
               justify-content: space-between;
               margin-left: 15%;
               margin-top: 45px;
               color: gray;
            }
            .final-sec a:hover{
                color: black;
                animation:ease-in;
            }
            .final-sec p{
                margin-left: 40%;
                font-style: italic;
                font-weight: 550;
                padding-top: 5%;
                color: brown;
                }   

    }
    /* //landscape tablets */
  
     @media only screen and (min-width:1330px) {
        *{
            padding: 0;
            margin: 0;
        }
        :root{
            --primarycolor:blue;
            --secondrycolor:red;
        }
         body{
             font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
             box-sizing: border-box;
         }
         .main-head{
             z-index: 1;
            display: flex;
            justify-content: space-between;
            border: 1px solid black;
            background-color: rgb(0, 0, 0);
            padding-top: 5px;
            padding-bottom: 5px;
            background-size: cover;
            width: 100%;
            position: fixed;
         }
         .main-head li{
            margin-left: 25px;
            margin-right: 25px;
            list-style-type: none;
             font-size: 25px;
        }
        .main-head li a{
            text-decoration: none;
            list-style-type: none;
             color: white;
        }
        .main-head li a:hover{
            color:cornflowerblue;
            animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: 0.4s;
        }
        .img-1{
            width: 100%;
            opacity: 0.35;
        
        }
        .sec-1 h1{
            z-index: 1;
            align-items: center;
            margin-left: 0;
            color: rgb(0, 0, 0);
            margin-top: -50%;
            margin-left: 24%;
            font-size: 50px;
            font-weight: bolder;
            margin-right: 10%;
        }
        .sec-1 h2{
            font-size: 30px;
            z-index: 1;
            align-items: center;
         margin-left: 40%;
         font-weight: bold;
        }
        .img-2{
            width: 50%;
            padding-top: 44%;
        }
        .sec-3 h2{
            font-size: 35px;
            margin-top: -28%;
            margin-left:56%;
            font-weight: 760;
        }
        .sec-3 p{
            font-size: 30px;
            font-style: italic;
            margin-top:9px ;
            margin-left: 55%;
        }
        .sec-4{
            margin-top: 22%;
            margin-left: 5%;
           
        }
        .sec-4 h2{
            font-size: 40px;
            border-radius:5px;
            font-weight: 600;
            font-style: italic;
            text-decoration: underline;
        }
        .img-3{
            width: 50%;
            margin-left: -1.5%;
            margin-top: 3%;
        }
        .img-4{
            width: 50%;
            float: right;
            width: 46%;
            margin-top: 3%;
        
        }
        .img-5{
            width: 50%;
            margin-left: -1.8%;
            padding-top:3px;
        }
        .img-6{
           width: 46%;
           margin-left: 54%;
           margin-top: -10%;
        }
        .sec-4 p{
            font-size: 25px;
        margin-left: 54%;
        margin-top: -53%;
        font-style: italic;
        }
        .sec-5 h1{
            margin-top: 41%;
            margin-left: 5%;
            font-size: 45px;
            font-weight: 600;
            }
            .sec-5 p{
                font-size: 25px;
                margin-left: 5%;
                margin-right: 5%;
                padding-top: 9px;
                font-style: italic;
            }
            .img-7{
                margin-top: 5%;
                width: 70%;
                margin-left: 15%;
            }
            .sec-5 h2{
                margin-top: 11px;
                margin-left: 5%;
                font-size: 45px;
            }
            .img-8{
                width: 70%;
                margin-left: 15%;
            }
            .img-9{
                width: 70%;
                margin-left: 15%;
            }
            .final-sec h2{
                margin-top: 45px;
                margin-left: 3%;
            }
            .final-sec a{
               display: inline;
               justify-content: space-between;
               margin-left: 20%;
               margin-top: 45px;
               color: gray;
            }
            .final-sec a:hover{
                color: black;
                animation:ease-in;
            }
            .final-sec p{
                font-size:40px;
                margin-left: 40%;
                font-style: italic;
                font-weight: 550;
                padding-top: 5%;
                color: brown;
                }   

     }



    
